@keyframes animateColor{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.container .cloud {
    position: relative;
    width: 300px;
    z-index: 100;
    filter: drop-shadow(0 0 35px var(--clr));
}

.container .cloud h2{
    posicion: absolute;
    left: 50%;
    transform: translatex(-50%);
    white-space: nowrap; 
    color: #000; 
    font-size: 2em;
    Z-index: 1000;
    font-weight: 400; 
    padding:0 10px; 
    border-radius: 10px;    
    text-transform: uppercase;
    background: var(--cIr);
}

•container •cloud h2::before {
    content:'';
    position: absolute;
    top: -115px; 
    left: 50%;
    transform: translatex(-50%); 
    border-radius: 100px; 
    width: 120%; 
    height: 100px;
    background: var(--clr);
}